@{ Layout = "~/_SiteLayout.cshtml";
   Page.Title = "Comments"; 
 
    
        var needID = UrlData[0];
        var id = 0;
        if (!needID.IsEmpty() && needID.IsInt()) {
            id = Convert.ToInt32(needID);
        }
    
    
   var db = Database.Open("GoodStarter");
   var comments = db.Query("SELECT * FROM Comment JOIN UserProfile ON comment.UserID = UserProfile.UserID WHERE NeedID = @0", id);
   
}

<div id="needNavigation-comments">
@RenderPage("NeedNav.cshtml")

<section class="description" >
    <div class="row">
        <div class="col-md-8">
            @foreach(var comment in comments)
            {
            <div class="user-comments">
                <div class="post-date row sub-title">
                    <div class="float-right">
                        @Helpers.GetPrettyDate(comment.PostDate)
                    </div>
                    <div class="commenterName float-left">
                        <a href="~/Profile/@comment.UserId"><div class="commenterName float-left">@comment.FirstName @comment.LastName</div> </a>
                    </div>
                </div>
                <a href="~/Profile/@comment.UserId"><img class="comment-img float-left" src="~/Images/@comment.Picture" alt="user image" /></a>
                <p>@comment.Text</p>
                <div class="commenter-name row">
                </div>
            </div>
            }
            <div class="comments">
                <a href="~/PostComment/@needID" class=" "> Post a new comment </a>
            </div>

        </div>
        <div class="col-md-4">
            <div class="need-stats">
                <h4><span class="stat-num">2</span> GoodStarters</h4>
                <h4><span class="stat-num">9</span> Days to Go</h4>
                <h4><span class="stat-num">14</span> Watching</h4>
                <a href="~/Comments/@id" class="meet-need-button">Meet Need</a>
            </div>
        </div>
    </div>
</section>

</div>