@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Start Something Good";

    var db = Database.Open("GoodStarter");
    var mostPopularNeedID = db.QuerySingle("SELECT Count(NeedID), NeedID FROM Watching GROUP BY NeedID");
    var mostPopularNeed = db.QuerySingle("SELECT * FROM Need WHERE NeedID = @0", mostPopularNeedID.NeedID);
    var mostPopularNeedCreator = db.QuerySingle("SELECT * FROM UserProfile WHERE UserID=@0", mostPopularNeed.CreatorID);

    
    Dictionary<string, int> categoryNameCounts = new Dictionary<string, int>();

    var categoryIDs = db.Query("SELECT CategoryID FROM Category");
    foreach( var categoryRow in categoryIDs) {
        string categoryName = db.QueryValue("Select Name FROM Category WHERE CategoryID=@0", categoryRow.categoryID);
        int categoryCount = db.QueryValue("Select count(*) FROM Need_Category WHERE CategoryID=@0", categoryRow.categoryID);
        
        categoryNameCounts.Add(categoryName, categoryCount);
    }
}

<div class="row jumbotron">

    <div class="col-sm-8 ">
        <h1>Start Something Good.</h1>
        <h2>Our aim is to connect people together in order to spark good.</h2>
        <h3>We believe that sharing needs in community will bring out the best in people.</h3>

        <a class="social-button" href="/account/register"> Sign Up </a>
        <!--<a class="social-button" href="#"> Explore Needs </a> -->

    </div>
    <div class="col-sm-4" >
        <img class="img-responsive" src="~/Images/light_leaf_portrait.jpg" alt="leaf" /> 
    </div>
            
</div>

    <div class="row">
        <h2 class="page-title">Trending Needs</h2>
        <div class="col-md-4 popular-need">
            <div class="popular-container">
                <a href="#">
                    <img class="img-responsive popular-img" src="~/Images/@mostPopularNeed.ImageName" alt="popular-need">
                    <h3><a href="#"> @mostPopularNeed.NeedTitle</a></h3>
                    <p>by @mostPopularNeedCreator.FirstName @mostPopularNeedCreator.LastName </p>
                    <p> @mostPopularNeed.Description </p>
                </a>
            </div>
        </div>
        <div class="col-md-4 popular-need">
        <div class="popular-container">
            <a href="#">
                <img class="img-responsive popular-img" src="~/Images/books.jpg" alt="popular-need">
                <h3><a href="#"> @mostPopularNeed.NeedTitle</a></h3>
                    <p>by @mostPopularNeedCreator.FirstName @mostPopularNeedCreator.LastName </p>
                    <p> @mostPopularNeed.Description </p>
            </a>
        </div>
    </div>
    <div class="col-md-4 popular-need">
        <div class="popular-container">
            <a href="#">
                <img class="img-responsive popular-img" src="~/Images/lamborgini.jpg" alt="popular-need">
            <h3><a href="#"> @mostPopularNeed.NeedTitle</a></h3>
                    <p>by @mostPopularNeedCreator.FirstName @mostPopularNeedCreator.LastName </p>
                    <p> @mostPopularNeed.Description </p>
            </a>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <h2 class="page-title">Need Categories</h2>
    @foreach( var categoryName in categoryNameCounts.Keys)
    {
    <div class="col-xs-6 col-md-3">
        <div class="category">
            @categoryName<br/> <strong> @categoryNameCounts[categoryName] </strong>
        </div>
    </div>
    }
</div>
<div class="row">
    <section class="social col-md-offset-1 col-md-10">
        <h2>Tell others about GoodStarter!</h2>
        <p>Discover and fulfill needs with friends!</p>
        <a class="social-button" href="#"><span id="facebook"><i class="fa fa-fw fa-facebook"></i></span> Connect with Facebook</a>
    </section>
</div>
<div class="row">
    <section class="learn-more col-md-offset-1 col-md-10">
        <h2>Want to know more?</h2>
        <p>Each GoodStarter need is an independent creation of someone like you!</p>
        <a class="learn-button" href="#">Learn More</a>
    </section>
</div>