@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Start Something Good";

    var db = Database.Open("GoodStarter");
    var mostPopularNeedID = db.QuerySingle("SELECT Count(NeedID), NeedID FROM Watching GROUP BY NeedID");
    var mostPopularNeed = db.QuerySingle("SELECT * FROM Need WHERE NeedID = @0", mostPopularNeedID.NeedID);
    var mostPopularNeedCreator = db.QuerySingle("SELECT * FROM UserProfile WHERE UserID=@0", mostPopularNeed.CreatorID);

    
    Dictionary<string, int> categoryNameCounts = new Dictionary<string, int>();

    var categoryIDs = db.Query("SELECT CategoryID FROM Category");
    foreach( var categoryRow in categoryIDs) {
        string categoryName = db.QueryValue("Select Name FROM Category WHERE CategoryID=@0", categoryRow.categoryID);
        int categoryCount = db.QueryValue("Select count(*) FROM Need_Category WHERE CategoryID=@0", categoryRow.categoryID);
        
        categoryNameCounts.Add(categoryName, categoryCount);
    }

}
        <h1 class="center-heading">Start Something Good</h1>
        <div id="popular">
            <h2 class="center-heading">Popular</h2>
            <div class="popular-box">
                <a href="#"><img src="~/Images/@mostPopularNeed.ImageName" alt="something1"/></a>
                <h4><a href="#"> @mostPopularNeed.NeedTitle</a></h4>
                <p>by @mostPopularNeedCreator.FirstName @mostPopularNeedCreator.LastName </p>
                <p> @mostPopularNeed.Description </p>
            </div>
            <div class="popular-box">
                <a href="#"><img src="~/Images/lamborgini.jpg" alt="something1"/></a>
                <h4><a href="#">Need Mechanic</a></h4>
                <p>by Tyler Estes</p>
                <p>I'm having issues with my car.  The other day it caught on fire.  Please help me.</p>
            </div>            
            <div class="popular-box">
                <a href="#"><img src="~/Images/thanksgiving.jpg" alt="something1"/></a>
                <h4><a href="#">Place to Stay for Thanksgiving</a></h4>
                <p>by Josh Smith</p>
                <p>I need a place to stay during Thanksgiving break.  I'll pay for any expenses and clean up after myself.</p>
            </div>          
        </div>


        <div class="buttonRow" >
            @foreach( var categoryName in categoryNameCounts.Keys) 
            {
            <div class="oneThirdsCol" >
                <a href="#">@categoryName<br/> <strong> @categoryNameCounts[categoryName] </strong> </a>
            </div>
            }
        </div>
        
        <section id="social">
            <h2>Tell others about GoodStarter!</h2>
            <p>Discover and fulfill needs with friends!</p>
            <a href="#">Connect with Facebook</a>
        </section>        
        
        <section id="learnMore">
            <h2>Want to know more?</h2>
            <p>Each GoodStarter need is an independent creation of someone like you!</p>
            <a href="#">Learn More</a>
        </section> 