﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Profile";
    
    var userID = UrlData[0];
    var id = 0;
    if (!userID.IsEmpty() && userID.IsInt()) {
        id = Convert.ToInt32(userID);
    }

    var db = Database.Open("GoodStarter");
    var needInfo = db.Query("SELECT * FROM Need WHERE CreatorID = @0", id);
    var userInfo = db.QuerySingle("SELECT * FROM UserProfile WHERE UserId = @0", id);  
}

<section class="description">
    <div class="container">
    <div class="row">
    <div class="title-creator-info">
        <div class="col-md-2">
            <img class="creator-img float-left" src="~/Images/@userInfo.Picture" alt="user-img"/>
        </div>
        <div class="col-md-3">
            <h1>@userInfo.FirstName @userInfo.LastName</h1>
            <h3>@userInfo.education</h3> 
            <h3>@userInfo.HomeTown, <b>@userInfo.HomeState</b></h3>
            <h4><b>About me: </b> @userInfo.UserInfo</h4>
        </div>
    </div>
    </div>
    <div class="row">
        @foreach(var need in needInfo) {
        <div class="col-md-4 need-stats">
                    <img class="img-responsive popular-img" src="~/Images/@need.ImageName" alt="popular-need">
                    <h3>@need.NeedTitle</h3>
                    <p> @userInfo.FirstName @userInfo.LastName </p>
                    <p> @need.Description </p>
                    <h4><span class="stat-num">9</span> Days to Go</h4>
                    <h4><span class="stat-num">14</span> Watching</h4>
                    <a class="profile-need" href="~/Need/@need.NeedID">
                        <div class="meet-need-button">View Need</div>
                    </a>
        </div>  
        }
    </div>

    </div>
    </div>
</section>